# Ignore dataset folders
dataset/
test_images_small/
test_images_small_resized/
train_archive/
train_images/
bad/

# Python
__pycache__/
*.pyc
*.pyo
train_temp.py

# Jupyter
.ipynb_checkpoints

# Ignore model files
resnet18_best.pt
vgg19bn_best.pt